/* Importando variáveis CSS */
@import url('../../padronizacao/variaveis.css');

/* Reset básico para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o logo */
#logo {
    margin-top: 30px;
}

/* Estilos para o header */
.mobile{
    padding: 15px 15px 25px 15px;
    background-color: var(--cor-primaria);
    font-size: var(--font-size-m);
    display: none;
    flex-direction: column;
   
    z-index: 10;
   
}

header div {
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--cor-secundaria);
}
header input {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    width: 90%;
    padding: 10px 15px;
    border: none;
    margin: 15px;
}
input::placeholder{
    color: black;
  
}

/* Estilos para os ícones do menu e carrinho */
#menu-hamburguer, #carrinho {
    cursor: pointer;
    font-weight: 900;
   
    font-size: 30px;

}

/* Estilos para o menu lateral */
.container-menu {
    width: 50%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99999;
}

.container-menu.open {
    transform: translateX(0);
    overflow: auto;
}

/* Estilos para o botão dentro do menu */
.container-menu button {
    display: flex;
    width: 90%;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin: 10px auto;
    border-radius: 8px;
    background: #171612;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

/* Estilos para a área de login no menu */
.menu-area-login {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px 0;
}
.menu-area-login button{
cursor: pointer;
}

/* Estilos para o ícone de usuário e texto de login */
.user-login-icon {
    margin: 30px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    
}
.user-login-icon span{
    font-size: 40px;
}

.user-login-icon > p {
    font-family: var(--font-family-raleway);
    font-weight: 700;
   
}

/* Estilos para a navegação dentro do menu */
.navigation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.navigation ul {
    width: 90%;
    list-style: none;
    padding: 0;
}

.navigation ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: 200ms ease-in-out;
 

   
 
}
.navigation ul li:hover{
    color: white;
    background-color: var(--cor-secundaria);
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}
.navigation ul li span{
    font-size: 40px;
}


.navigation ul li img {
    width: 45px;
}

.navigation ul li p {
    padding: 0 15px;
    font-size: var(--font-size-m);
    font-family: var(--font-family-raleway);
    font-weight: 700;
}

.navigation a {
    text-decoration: none;
    color: black;
}

/* Estilos para o container de login do usuário */
.user-login-container {
    width: 90%;
    justify-content: space-between;
}

.user-login-container>a>img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* Estilos para o overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    z-index: 9998;
    display: none;
}

.overlay.open {
    display: block;
}

/* Desktop */
/* Estilos gerais para o cabeçalho */
.desktop {
    background-color: var(--cor-primaria); /* Cor de fundo do cabeçalho */
    padding: 15px; /* Espaçamento interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito flutuante */
}

.container_header{
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.pesquisa input{
    all: unset;
    border-radius: 8px;
    background: #FFF;
    width: 90%;
    padding: 10px 15px;
    
}
.iconLogin{
    cursor: pointer;
    transition: 300ms;
}
.iconLogin:hover{
    background-color: var(--cor-secundaria);
    color: white;
    padding: 5px 15px;
    border-radius: 12px;
}
.iconLogin:active{
    background-color: var(--cor-secundaria);
    color: white;
    transition: 0;
   
}
.carrinho_header span:active{
    background-color: var(--cor-secundaria);
    color: white;
    transition: 0;
   
}
.carrinho_header span:hover{
    background-color: var(--cor-secundaria);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght'400,
  'GRAD' 0,
  'opsz' 24
}

.iconLogin>span{
    font-size: 35px;
    
 
}
.iconLogin p{
    width: max-content;
}
.carrinho_header{
    
    margin:0  10px;
 
   
}
.carrinho_header span{
    font-size: 33px;
    cursor: pointer;
    transition: 300ms;
}


/* Estilos para a seção de perfil */
.perfil-wrapper {
    display: flex; /* Alinha os itens do perfil em linha */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente */
}

/* Estilos para a navegação */
.navegacao-header-desk {
    display: flex; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza a lista */
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    font-family: var(--font-family-poppins);
}

/* Estilos para os itens da navegação */
.navegacao-header-desk li {
    margin: 0 2%; /* Espaçamento lateral */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necessário para posicionar o <hr> */
}

/* Estilos para links na navegação */
.navegacao-header-desk li a {
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Cor do texto */
    font-size: var(--font-size-m); /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    transition: color 0.3s; /* Transição suave para a cor */
    display: ruby;
}

/* Estilos para a linha horizontal */
.navegacao-header-desk li hr {
    width: 0; /* Largura inicial do hr */
    border: 0; /* Remove a borda padrão */
    height: 1.5px; /* Altura da linha */
    background-color: rgba(0, 0, 0, 0.1); /* Cor da linha */
    position: absolute;
    bottom: 0; /* Alinha o <hr> abaixo do texto */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Move o <hr> para a esquerda pela metade da sua largura */
    transition: width 0.2s; /* Transição suave para o hover */
}

/* Aumenta a largura da linha ao passar o mouse no <a> */
.navegacao-header-desk li:hover hr {
    width: 100%; /* Largura total do hr */
    background-color: var(--cor-secundaria); /* Cor ao passar o mouse */
}




@media screen and (max-width: 750px) {
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
    .container-menu{
        width: 80%;
    }
}
