@import url("../../padronizacao/variaveis.css");

.container-menu{
    width: 50%;
    height: 100vh;
    background-color: white;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
   
   
}
.container-menu button{
    display: flex;
    width: 80%;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    
    margin: 10px auto;
    border-radius: 12px;
    background: #171612;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}
.menu-area-login{
    background-color:  var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.user-login-icon{
    display: flex;
    align-items: center;
}
.user-login-icon>p{
    font-family: var(--font-family-raleway);
    font-weight: 700;
}
.navigation{
    display: flex;
    justify-content: center;
}
ul{
    width: 80%;
}

ul>li{
    display: flex;
    align-items: center;
    
}

li>p{
    padding: 0 15px;
    font-size: var(--font-size-m);
    font-family: var(--font-family-raleway);
    font-weight: 700;
}